/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.contentSection {
  padding: 30px;
}

.contentSection_item:not(:last-child) {
  margin-bottom: 30px;
}
.contentSection_item .header {
  margin-bottom: 20px;
}
.contentSection_item .header .title {
  font-size: 20px;
  border-left: 4px solid #0F4C81;
  padding: 0 10px;
}
.contentSection_item .content .content_box {
  border: 1px solid #B9B9B9;
  border-radius: 5px;
  margin-bottom: 25px;
  padding: 20px;
}
.contentSection_item .content .content_box .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contentSection_item .content .content_box .header .title {
  font-size: 18px;
  border-left: 0;
  padding: 0;
}
.contentSection_item .content .content_box .content .form_item {
  display: flex;
  flex-direction: column;
}
.contentSection_item .content form .form_group {
  margin-bottom: 20px;
}
.contentSection_item .content form .form_group .form_item {
  margin-bottom: 0;
}
.contentSection_item .content form .form_item {
  margin-bottom: 20px;
}
.contentSection_item .content form .form_item label {
  margin-bottom: 8px;
  font-weight: bold;
}
.contentSection_item .content form .form_item .item_inline {
  display: flex;
  align-items: center;
}
.contentSection_item .content form .form_item .item_inline:not(:last-child) {
  margin-bottom: 15px;
}
.contentSection_item .content form .form_item .item_inline label {
  margin-bottom: 0;
}
.contentSection_item .content form .form_item .item_range {
  display: flex;
  align-items: center;
}
.contentSection_item .content form .form-control {
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  padding: 5px 10px;
}

.pagination {
  justify-content: center;
  left: 0;
  right: 0;
}
.pagination .page-item.active .page-link {
  background-color: #0F4C81;
  color: #fff;
  border: 1px solid #0F4C81;
}
.pagination .page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #B9B9B9;
  border-radius: 0 !important;
  padding: 0.5rem;
  color: #484246;
  line-height: 1;
  width: 40px;
  height: 40px;
}
.pagination .page-link:focus {
  box-shadow: none;
}

.radio_section .radio_inline {
  display: flex;
  align-items: center;
}
.radio_section .radio_item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.radio_section .radio_item label {
  min-width: 50px;
  margin-bottom: 0 !important;
}

.ckeckbox_section:not(:last-child) {
  margin-bottom: 15px;
}
.ckeckbox_section .checkbox_inline {
  display: flex;
  align-items: center;
}
.ckeckbox_section .checkbox_inline:not(:last-child) {
  margin-bottom: 20px;
}
.ckeckbox_section .checkbox_inline.flex-wrap .checkbox_item {
  margin-bottom: 15px;
}
.ckeckbox_section .checkbox_item {
  display: flex;
  align-items: center;
}
.ckeckbox_section .checkbox_item:not(:last-child) {
  margin-right: 30px;
}
.ckeckbox_section .checkbox_item input[type=checkbox] {
  margin-right: 5px;
}
.ckeckbox_section .checkbox_item label {
  margin-bottom: 0 !important;
  min-width: 50px;
  white-space: nowrap;
}

::-moz-placeholder {
  color: #7D8997;
}

::placeholder {
  color: #7D8997;
}

.required {
  color: #E86C6C;
}

.item_center {
  text-align: center;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Noto Sans TC", "Microsoft JhengHei UI", "Segoe UI", "Roboto", "Helvetica Neue", Charcoal, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #484246;
  height: 100%;
}

input:focus-visible {
  outline: 0;
}
input:disabled {
  border: 1px solid #c3c3c3;
  background-color: #F9F9F9 !important;
  border-radius: 4px;
  color: #c3c3c3;
  cursor: default;
}

input[type=checkbox] {
  margin-right: 5px;
}

input[type=radio] {
  margin-right: 3px;
}

select {
  min-height: 36px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  padding: 5px 10px;
  color: #484246;
  cursor: pointer;
}
select:focus-visible {
  outline: 0;
}
select:disabled {
  border: 1px solid #c3c3c3;
  background-color: #F9F9F9;
  border-radius: 4px;
  color: #c3c3c3;
  cursor: default;
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  opacity: 1;
  color: #EBEFF2;
}

img {
  max-width: 100%;
}

a {
  color: #0F4C81;
  text-decoration: none !important;
}
a:hover {
  color: unset;
  text-decoration: none;
}

p {
  line-height: 1.5;
}

label {
  min-width: 95px;
}

.btn_item {
  display: inline-block;
  font-size: 14px;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
}

.form_btn .btn_item:not(:last-child) {
  margin-right: 20px;
}
.form_btn .operateBtn {
  padding: 8px 10px;
  color: #0F4C81;
  border: 1px solid #0F4C81;
  border-radius: 5px;
  background-color: #fff;
}

.btn_primary {
  background-color: #0F4C81;
  border: 1px solid #0F4C81;
  color: #fff;
  min-width: 160px;
  border-radius: 5px;
  padding: 10px;
}
.btn_primary:hover {
  color: #fff;
}

.btn_primary_gray {
  background-color: #F5F5F5;
  border: 1px solid #B9B9B9;
  color: #484246;
  min-width: 160px;
  border-radius: 5px;
  padding: 10px;
}

.btn_primary_danger {
  background-color: #F5F5F5;
  border: 1px solid #B9B9B9;
  color: #E86C6C;
  min-width: 160px;
  border-radius: 5px;
  padding: 10px;
}

.btn_secondary {
  background-color: #F9F9F9;
  border-radius: 4px;
  border: 0;
  padding: 8px 15px;
}
.btn_secondary:disabled {
  border: 1px solid #c3c3c3;
  background-color: #F9F9F9;
  border-radius: 4px;
  color: #c3c3c3;
  cursor: default;
}

.btn_secondary_danger {
  background-color: #FFE3E3;
  border-radius: 4px;
  border: 1px solid #E86C6C;
  color: #E86C6C;
  padding: 8px 15px;
}

.table_operateBtn .btn_item:not(:last-child) {
  margin-right: 15px;
}
.table_operateBtn .text_primary {
  color: #0F4C81;
}
.table_operateBtn .text_danger {
  color: #E86C6C;
  border: 0;
  background-color: transparent;
}

.table tbody tr td {
  vertical-align: middle;
}
.table .tbody_item {
  display: grid;
  align-items: center;
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #dde1e3;
  border-radius: 4px;
}
.table .tbody_item a {
  color: unset;
}
.table .tbody_item a:hover {
  text-decoration: underline !important;
}

.table-bordered {
  border: 1px solid #B9B9B9;
}
.table-bordered thead th {
  border-bottom: 0;
  background-color: #EAEAEA;
  text-align: center;
}
.table-bordered td {
  background-color: #fff;
}

.login_bg {
  background: url(../img/login_bg.png) no-repeat center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_bg .login_content {
  min-width: 400px;
  padding: 50px;
  text-align: center;
  position: absolute;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.login_bg .login_content .title {
  font-size: 1.71rem;
  margin: 25px 0;
  line-height: 1.5;
}
.login_bg .login_content .title .system_name {
  font-weight: bold;
}
.login_bg .login_content .login_form {
  font-size: 0.87rem;
}
.login_bg .login_content .login_form .login_enter .enter_item:not(:last-child) {
  margin-bottom: 20px;
}
.login_bg .login_content .login_form .login_enter .enter_item label {
  display: block;
  text-align: left;
  margin-bottom: 8px;
}
.login_bg .login_content .login_form .login_enter .enter_item input {
  width: 100%;
  border: 0;
  background-color: #F5F5F5;
  border-radius: 4px;
  padding: 10px;
}
.login_bg .login_content .login_form .btn_login {
  display: block;
  background-color: #0F4C81;
  border-radius: 4px;
  border: 1px solid transparent;
  color: #fff;
  margin-top: 30px;
  padding: 12px;
  width: 100%;
}

.vedio_section, .affidavit_section {
  margin-bottom: 20px;
}

.topbar {
  box-shadow: 0.5px 0px 0px rgba(0, 0, 0, 0.15);
  background-color: #0F4C81;
}
.topbar .topbar_content {
  align-items: center;
}
.topbar .topbar_content .logo {
  display: flex;
  align-items: center;
}
.topbar .topbar_content .logo img {
  max-height: 80px;
  margin-right: 20px;
  padding: 10px;
}
.topbar .topbar_content .logo .logo_title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
.topbar .topbar_content .menu_section .topbar_menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: 1;
}
.topbar .topbar_content .menu_section .topbar_menu .firstFloor {
  display: inline-block;
  position: relative;
  min-width: 180px;
}
.topbar .topbar_content .menu_section .topbar_menu .firstFloor .menu_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 15px;
}
.topbar .topbar_content .menu_section .topbar_menu .firstFloor .menu_item .item_icon {
  font-size: 24px;
  margin-bottom: 15px;
}
.topbar .topbar_content .menu_section .topbar_menu .firstFloor .menu_item .item_name {
  font-size: 18px;
}
.topbar .topbar_content .menu_section .topbar_menu .secondFloor {
  display: none;
  position: absolute;
  width: 100%;
}
.topbar .topbar_content .menu_section .topbar_menu .secondFloor .secondFloor_item {
  background-color: #0F4C81;
  font-weight: bold;
  z-index: 9999;
  line-height: 1.5;
  position: relative;
}
.topbar .topbar_content .menu_section .topbar_menu .secondFloor .secondFloor_item:hover {
  opacity: 0.9;
}
.topbar .topbar_content .menu_section .topbar_menu .secondFloor .secondFloor_item a {
  display: block;
  color: #fff;
  padding: 10px;
}
.topbar .topbar_content .menu_section .topbar_menu .firstFloor:hover .secondFloor {
  display: block;
}
.topbar .topbar_content .user_data {
  display: flex;
  justify-content: end;
  align-items: center;
  color: #fff;
  font-size: 18px;
}
.topbar .topbar_content .user_data .signout {
  margin-left: 20px;
}

.exam_item {
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #dde1e3;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.exam_item .question {
  margin-bottom: 10px;
}
.exam_item .true_answer {
  color: #E86C6C;
}
.exam_item .answer_icon {
  font-size: 26px;
  margin-right: 15px;
}
.exam_item .fa-check {
  color: #59CD90;
}
.exam_item .fa-xmark {
  color: #E86C6C;
}

.score {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.score .score_item {
  font-size: 18px;
  font-weight: bold;
  margin-right: 50px;
}/*# sourceMappingURL=all.css.map */