.btn_item {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    transition: $transition;
    cursor: pointer;
}

.form_btn {
    .btn_item {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    .operateBtn {
        padding: 8px 10px;
        color: $primary-color;
        border: 1px solid $primary-color;
        border-radius: 5px;
        background-color: #fff;
    }
}


// ------------

.btn_primary {
    background-color: $primary-color;
    border: 1px solid $primary-color;
    color: #fff;
    min-width: 160px;
    border-radius: 5px;
    padding: 10px;
}

.btn_primary_gray {
    background-color: #F5F5F5;
    border: 1px solid $gray;
    color: $text-primary;
    min-width: 160px;
    border-radius: 5px;
    padding: 10px;
}

.btn_primary_danger {
    background-color: #F5F5F5;
    border: 1px solid $gray;
    color: $danger;
    min-width: 160px;
    border-radius: 5px;
    padding: 10px;
}

// ------------

.btn_secondary {
    background-color: #F9F9F9;
    border-radius: 4px;
    border: 0;
    padding: 8px 15px;

    &:disabled {
        border: 1px solid #c3c3c3;
        background-color: #F9F9F9;
        border-radius: 4px;
        color: #c3c3c3;
        cursor: default;
    }
}

.btn_secondary_danger {
    background-color: #FFE3E3;
    border-radius: 4px;
    border: 1px solid $danger;
    color: $danger;
    padding: 8px 15px;
}

// ------------

.text_decoration {
    text-decoration: underline !important;
}

// 上傳檔案
.btn_upload {
    display: block;
    width: fit-content;
}

// 表格內操作按鈕
.table_operateBtn {
    .btn_item {
        &:not(:last-child) {
            margin-right: 15px;
        }
    }

    .text_primary {
        color: $primary-color;
    }

    .text_danger {
        color: $danger;
        border: 0;
        background-color: transparent;
    }
}
