.exam_item {
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #dde1e3;
    border-radius: 4px;
    display: flex;
    align-items: center;

    .question {
        margin-bottom: 10px;
    }

    // 正確答案
    .true_answer {
        color: $danger;
    }

    .answer_icon {
        font-size: 26px;
        margin-right: 15px;
    }

    // icon_正確
    .fa-check {
        color: #59CD90;
    }

    // icon_錯誤
    .fa-xmark {
        color: $danger;
    }
}

// 分數
.score {
    display: flex;
    align-items: center;
    margin-top: 20px;

    .score_item {
        font-size: 18px;
        font-weight: bold;
        margin-right: 50px;
    }
}