.contentSection {
    padding: 30px;
}

.contentSection_item {
    &:not(:last-child) {
        margin-bottom: 30px;
    }

    .header {
        margin-bottom: 20px;

        .title {
            font-size: 20px;
            border-left: 4px solid $primary-color;
            padding: 0 10px;
        }
    }

    .content {
        .content_box {
            border: 1px solid $gray;
            border-radius: 5px;
            margin-bottom: 25px;
            padding: 20px;

            .header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .title {
                    font-size: 18px;
                    border-left: 0;
                    padding: 0;
                }
            }

            .content {
                .form_item {
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        form {
            .form_group {
                margin-bottom: 20px;

                .form_item{
                    margin-bottom: 0;
                }
            }

            .form_item {
                margin-bottom: 20px;

                label {
                    margin-bottom: 8px;
                    font-weight: bold;
                }
    
                // inline
                .item_inline {
                    display: flex;
                    align-items: center;
    
                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }
    
                    label {
                        margin-bottom: 0;
                    }
                }

                .item_range{
                    display: flex;
                    align-items: center;
                }
            }

            .form-control {
                border: 1px solid $gray;
                border-radius: 4px;
                padding: 5px 10px;
            }
        }
    }
}

// --------------------------------------------

// 分頁
.pagination {
    justify-content: center;
    left: 0;
    right: 0;

    .page-item {
        &.active {
            .page-link {
                background-color: $primary-color;
                color: #fff;
                border: 1px solid $primary-color;
            }
        }
    }

    .page-link {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $gray;
        border-radius: 0 !important;
        padding: 0.5rem;
        color: $text-primary;
        line-height: 1;
        width: 40px;
        height: 40px;

        &:focus {
            box-shadow: none;
        }
    }
}

// -------------------------------------------

// radio區塊
.radio_section {
    .radio_inline {
        display: flex;
        align-items: center;
    }

    .radio_item {
        display: flex;
        align-items: center;
        margin-right: 20px;

        label {
            min-width: 50px;
            margin-bottom: 0 !important;
        }
    }
}

// checkbox區塊
.ckeckbox_section {
    &:not(:last-child) {
        margin-bottom: 15px;
    }

    .checkbox_inline {
        display: flex;
        align-items: center;
    
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    
        &.flex-wrap {
            .checkbox_item {
                margin-bottom: 15px;
            }
        }
    }

    .checkbox_item {
        display: flex;
        align-items: center;
    
        &:not(:last-child) {
            margin-right: 30px;
        }
    
        input[type="checkbox"] {
            margin-right: 5px;
        }
    
        label {
            margin-bottom: 0 !important;
            min-width: 50px;
            white-space: nowrap;
        }
    }
}

::placeholder {
    color: #7D8997;
}

// 必填
.required{
    color: $danger;
}

// 項目置中
.item_center{
    text-align: center;
}