.table {

    tbody {
        tr {
            td {
                vertical-align: middle;
            }
        }
    }

    .tbody_item {
        display: grid;
        align-items: center;
        margin-bottom: 15px;
        padding: 15px;
        border: 1px solid #dde1e3;
        border-radius: 4px;
    }
}

.table-bordered {
    border: 1px solid $gray;

    thead th {
        border-bottom: 0;
        background-color: #EAEAEA;
        text-align: center;
    }

    td {
        background-color: #fff;
    }
}